.test1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 560px;
}
.title {
    font-weight: 400;
    font-size: 24px;
    line-height: 31.2px;
    text-align: center;
    width: 560px;
}
.test {
    align-self: flex-end;
    flex-direction: row;
}
.writeBtn {
    width: 138px;
    height: 39px;
    border-radius: 16px;
    color: white;
    border-width: 0;
}
.btnInactive {
    background-color: #ACA0EB;}
.btnActive {
    background-color: #7F6AEE;
}
.postBox {
    margin-top: 10px;
    padding: 16px;
    width: 592px;
    border-radius: 16px;
    background-color: white;
}
img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 7px;
}
.postTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
}
.postInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
}
.postWriter {
    display: flex;
    flex-direction: row;
}
.writerName {
    font-weight: 700;
    font-size: 15px;
    line-height: 19.5px;
}
.writerPic {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
